<!DOCTYPE html>
<html lang="en">
  <!-- Inicio del head -->
  <%- include('../partials/head') %>

  <body>
    <!-- Inicio de header -->
    <%- include('../partials/header') %>

    <!-- Inicio del detalle de producto -->
    <main>
      <div class="box-pd">
        <%- include('../partials/similarItems.ejs') %>

        <article class="item">
          <div class="product-image">
            <img src="/images/<%= product.img%>" alt="teclado2" />
          </div>
          <div class="item-details">
            <h3><%= product.titulo %></h3>
            <p><%= product.descripcion%></p>
            <h4><%= product.precio%></h4>
            <button class="add-item btn" name="anadirAlCarro">
              Agregar<i class="fas fa-dolly"></i>
            </button>
          </div>
        </article>

        <section class="specifications">
          <h3>Características</h3>
          <img src="/images/<%= product.img%>" alt="" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quis
            tenetur, laborum ipsa eum, facilis placeat nam iure amet autem a
            ipsam! Quia deleniti quo explicabo accusamus ipsam sit id!
            Consectetur quo soluta ea accusamus saepe quisquam quae quasi,
            ducimus, totam nemo unde beatae dolorem minima illum, eum voluptas
            delectus dicta libero laboriosam maiores ut magnam excepturi eaque
            quia. Expedita? Minima tenetur accusantium exercitationem neque,
            perferendis doloribus aperiam cupiditate nostrum sit pariatur ad
            omnis corporis saepe iusto temporibus, quia alias accusamus?
            Suscipit nemo pariatur sint hic, deserunt cumque tenetur cum!
          </p>
        </section>
      </div>
    </main>

    <!-- Inicio del footer -->
    <%- include('../partials/footer') %>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
